{% extends 'blog/blog.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="New" align="center">
    <h1 id="head">Личный блог</h1>
    <a class="btn-btn" href="Add/"><button type="button" class="btn btn-outline-secondary">Добавить новость</button></a>
    {% if qs %}
        {% for el in qs %}
            <div class="mark_element">
                <div class="element">
                    <h3>{{ el.title}}</h3>
                    <p>{{ el.full_text }}</p>
                </div>
                <div class="like">
                    <strong>{{ el.liked.all.count }} likes</strong>
                    <form action="{% url 'blog:like-post' %}" method="POST" class="ui form">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ el.id }}">
                            {% if user not in el.liked.all %}
                                <button class="btn btn-outline-success" type="submit">Like</button>
                            {% else %}
                                <button class="btn btn-outline-danger" type="submit">Unlike</button>
                            {% endif %}
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Блог пуст!</p>
    {% endif %}
</div>
{% endblock %}