{% extends 'blog/blog.html' %}

{% block title %}Add news{% endblock %}

{% block content %}
    <div class="New" align="center">
        <h3 id="head1">Форма добавления статьи</h3>
        <div class="forma">
            <form method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.full_text }}<br>
                {{ form.date }}<br>
                <span>{{ error }}</span>
                <button type="submit" class="btn btn-outline-secondary">Добавить новость</button>
            </form>
        </div>
    </div>
{% endblock %}